<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nusamandiri.maps3">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission
        android:name="nusamandiri.maps3.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="nusamandiri.maps3.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.RuteAngkot.Square_Ubhara"
            android:label="BSI Square - UBHARA"
            android:parentActivityName=".Activity.BerandaActivity" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDqVXyITtFaumVqpypUXcO2C_hOWvuriGM" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Activity.BerandaActivity"
            android:label="@string/title_activity_beranda"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.RuteAngkot.Stasiun_Square"
            android:label="Stasiun - BSI Square"
            android:parentActivityName=".Activity.BerandaActivity" />
        <activity
            android:name=".Activity.RuteAngkot.Stasiun_Ubhara"
            android:label="@string/title_activity_st__kara_"
            android:parentActivityName=".Activity.BerandaActivity" />
        <activity android:name=".Activity.RuteAngkot.Stasiun_Unisma" />
        <activity android:name=".Activity.RuteAngkot.Stasiun_Gundar" />
        <activity
            android:name=".Activity.RuteAngkot.Stasiun_Meutia"
            android:label="Stasiun - BSI Cut Meutia"
            android:parentActivityName=".Activity.BerandaActivity"/>
        <activity
            android:name=".Activity.RuteAngkot.Stasiun_Terminal"
            android:label="Stasiun - Terminal"
            android:parentActivityName=".Activity.BerandaActivity"/>
        <activity android:name=".Activity.RuteAngkot.Terminal_Square" />
        <activity android:name=".Activity.RuteAngkot.Terminal_Ubhara" />
        <activity android:name=".Activity.RuteAngkot.Terminal_Unisma" />
        <activity android:name=".Activity.RuteAngkot.Terminal_Gundar" />
        <activity android:name=".Activity.RuteAngkot.Terminal_Meutia" />
        <activity
            android:name=".Activity.RuteAngkot.Square_Unisma"
            android:label="BSI Square - UNISMA"
            android:parentActivityName=".Activity.BerandaActivity"/>
        <activity android:name=".Activity.RuteAngkot.Square_Gundar" />
        <activity
            android:name=".Activity.RuteAngkot.Square_Meutia"
            android:label="BSI Square - BSI Cut Meutia"
            android:parentActivityName=".Activity.BerandaActivity"/>
        <activity
            android:name=".Activity.RuteAngkot.Ubhara_Unisma"
            android:label="UBHARA - UNISMA"
            android:parentActivityName=".Activity.BerandaActivity"/>
        <activity android:name=".Activity.RuteAngkot.Ubhara_Gundar" />
        <activity android:name=".Activity.RuteAngkot.Ubhara_Meutia" />
        <activity android:name=".Activity.RuteAngkot.Unisma_Gundar" />
        <activity android:name=".Activity.RuteAngkot.Unisma_Meutia" />
        <activity android:name=".Activity.RuteAngkot.Gundar_Meutia" />
        <activity
            android:name=".Activity.TentangActivity"
            android:parentActivityName=".Activity.BerandaActivity" />
        <activity
            android:name=".Activity.BantuanActivity"
            android:parentActivityName=".Activity.BerandaActivity" />
        <activity
            android:name=".Activity.DetailKampus.BSI_Square"
            android:label="BSI SQUARE"
            android:parentActivityName=".Activity.BerandaActivity"/>
        <activity
            android:name=".Activity.DetailKampus.Universitas_Bhayangkara"
            android:label="UNIV. BHAYANGKARA"
            android:parentActivityName=".Activity.BerandaActivity"/>
        <activity
            android:name=".Activity.DetailKampus.Universitas_Islam_45"
            android:label="UNIV. ISLAM 45"
            android:parentActivityName=".Activity.BerandaActivity"/>
        <activity
            android:name=".Activity.DetailKampus.BSI_CutMeutia"
            android:label="BSI CUT MEUTIA"
            android:parentActivityName=".Activity.BerandaActivity"/>
        <activity
            android:name=".Activity.DetailKampus.Universitas_Gunadarma"
            android:label="UNIV. GUNADARMA"
            android:parentActivityName=".Activity.BerandaActivity"/>
    </application>

</manifest>